#do_a_post{
    position: sticky;
    background-color: rgb(255, 255, 255);
    border-radius: 1000px;
    width: 3vw;
    height: 3vw;
    padding: 3%;
    bottom: 1%;
    left: 70%;
}

#do_a_post img{
    width: 100%;
    height: 100%;
} 

#do_a_post :hover{
    cursor: pointer;
}

.post{
    border: 4px solid rgb(160, 160, 160);
    border-radius: 50px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding: 3%;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.identity{
    display: flex;
    align-items: center;
}

.nameOfTag{
    text-align: start;
    margin-top: 5%;
    font-size: 20px;
    font-style: italic;
}

.text{
    text-align: start;
    margin-top: 3%;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.blaz{
    color: rgb(160, 160, 160);
    font-size: 15px;
    margin-left: 5s0px;
}

.image{
    margin-top: 5%;
}

.image img{
    width: 100%;
    height: 100%;
}

.trash{
    width: 10%;
}

.trash img{
    width: 50%;
    height: 50%; 
}

@media(max-width : 810px){
    #post{
        display: block;
    }
    
    #do_a_post{
        display: none;
    }
}